body {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 100;
}
.nav2{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

}
a {
    
    height: 40px;
     width: 80px;
     margin: auto;
    text-align: center;
    padding-top: 3px;
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 40px;
    text-decoration: none;
    
}
a:hover{
    background-color: aquamarine;
}
.search{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    justify-content: center;
}
h1 {
    margin: 0;
    padding:30px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    font-family: 'Hubballi', cursive;
    
}
.hotel{
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 160px;
    
}
.text{
    font-family: 'Hubballi', cursive;
    border-radius: 10px;
    margin-left: 40px;
    padding-right: 10px;
    height: 30px;
    width: 160px;
}
.reset{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    margin-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 160px;
    color: aliceblue;
    
}
.send{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
    margin-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 160px;
    color: aliceblue;
    
}
.vers{
    font-family: 'Hubballi', cursive;
}
.mai{

    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
    background-image: url('5.jpeg');
    display: flex;
    flex-wrap: wrap;
}
.ital{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.deut{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.eng{
    margin: 1opx;
    padding: 10px;
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.tur{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.usa{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.gre{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
