body {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 100;
}
.nav1{
    height: 45px;

}
.nav2{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

}
a {
    
    height: 40px;
     width: 80px;
     margin: auto;
    text-align: center;
    padding-top: 3px;
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 40px;
    text-decoration: none;
    
}
a:hover{
    background-color: aquamarine;
}
.search{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 140px;
    width: 100%;
    background-color: aquamarine;
    justify-content: center;
}
h1 {
    margin: 0;
    
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    font-family: 'Hubballi', cursive;
    
}
.hotel{
    border-radius: 10px;
    margin-left: 10px;

    padding-right: 10px;
    height: 30px;
    width: 100px;
    
}
.text{
    font-family: 'Hubballi', cursive;
    border-radius: 10px;
    margin-left: 30px;
    padding-right: 10px;
    height: 30px;
    width: 110px;
}
.reset{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    margin-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 160px;
    color: aliceblue;
    
}
.send{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
    margin-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 160px;
    color: aliceblue;
    
}
.check{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.vers{
    font-family: 'Hubballi', cursive;
}
.mai1{

    margin: 0;
    padding: 0;
    height: 1000px;
    width: 100%;
    background-image: url('5.jpeg');
    display: flex;
    flex-wrap: wrap;
}

.ital{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
.deut{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
.eng{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
.tur{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
.usa{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
.gre{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 25px;
}
